.Favorite__Api__Frame {
  height: 28rem;
}

.Favorite__Title {
  font-size: 3rem;
  margin-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: lightgrey;
  text-align: center;
}
