.NotFound__Div {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  background: linear-gradient(
    27deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.imageNotFound {
  width: 50rem;
  height: 45rem;
}
